@import url(app/libs/magnific-popup/dist/magnific-popup.css);
html, body {
  font-family: "Exo 2 Medium", "Cuprum", serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  vertical-align: top;
  text-decoration: none;
  color: #111111;
  cursor: pointer;
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

label {
  cursor: pointer; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  border: 0; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 560px;
  padding: 20px 0 20px 0;
  margin: 0 10px 60px 10px;
  border-bottom: 2px solid #000000; }
  .header .logo {
    width: 195px;
    height: 45px; }
  .header .right-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.logo {
  min-width: 195px;
  margin-right: 10px; }

.lang {
  min-width: 60px;
  white-space: nowrap;
  margin-right: 21px; }
  .lang a {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal; }
  .lang .pressed {
    color: #818181; }

.telephone {
  white-space: nowrap;
  margin-right: 23px; }

.envelope {
  min-width: 41px;
  margin-right: 18px; }

.burger-menu {
  min-width: 41px; }

.main {
  min-width: 560px;
  margin: 60px 10px 0 10px; }

.slider {
  display: block;
  position: relative;
  width: 100%;
  min-height: 425px;
  padding: 0 0 85px 0;
  background-color: #dc9561;
  border-top: 1px solid transparent; }

.wrapper-description {
  margin: 130px 110px 85px 970px;
  width: 300px;
  outline: 1px solid #000000; }

.slider__p {
  margin-bottom: 10px; }

.slider__a {
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #111111;
  width: 100px;
  min-height: 30px;
  margin-top: 50px;
  padding: 1px 0 5px 0;
  background-color: #ffffff;
  border-radius: 7px; }
