@import "app/sass/_libs.sass"
@import url('https://fonts.googleapis.com/css?family=Exo+2:500&display=swap');

@font-face
  font-family: 'Exo 2 Medium'
  src: url('../fonts/Exo2-Medium.ttf') format('truetype')
  font-weight: normal
  font-style: normal


html, body 
  font-family: "Exo 2 Medium", "Cuprum", sans-serif
  font-size: 18px
  line-height: 24px
  font-weight: 400
  color: #000000

  width: 100%

  margin: 0
  padding: 0

  background-color: #ffffff
  background-position: top center
  background-repeat: no-repeat

  box-sizing: border-box

*, *::before, *::after 
  box-sizing: inherit

a 
  vertical-align: top
  text-decoration: none
  color: #111111
  cursor: pointer

  margin: 0
  padding: 0

img 
  display: block
  max-width: 100%
  margin-left: auto
  margin-right: auto

label 
  cursor: pointer

.visually-hidden 
  position: absolute
  overflow: hidden

  width: 1px
  height: 1px

  margin: -1px
  padding: 0

  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  border: 0

h1, h2, h3, h4, h5, h6, p, ul, li 
  font-weight: 400
  list-style: none

  margin: 0
  padding: 0

ul, li
  margin: 0
  padding: 0

.section
  margin: 60px 0 60px 0

.h2
  text-align: center

  margin: 35px 0

.see-more
  display: block
  text-align: center
  width: 140px
  height: 140px

  margin: 60px auto
  padding-left: 15px

  background-color: transparent

  border: 2px solid #e9e4e4 
  border-radius: 50%
  outline: 0





/*HEADER*/

  
.header
  display: flex
  justify-content: space-between
  align-items: center
  position: fixed
  top: 0
  left: 0
  z-index: 1

  width: calc(100vw - 37px)
  height: 85px

  padding: 20px 0px 
  margin: 0 10px

  background-color: rgba(255,255,255,0)
  
  border-bottom: 2px solid #111111

  visibility: visible
  
  transform: translateY(0)
  transition: all .3s ease

.header.out
  visibility: hidden
  transform: translateY(-100%)
  transition: all .3s ease
 
.logo
  width: 195px
  height: 45px
  
.right-menu
  display: flex
  justify-content: center
  align-items: center

.logo
  min-width: 195px

  margin-right: 10px

.logo__img
  width: 195px
  height: 45px

.lang 
  min-width: 60px
  white-space: nowrap
  margin-right: 21px 

  .ru
    color: #818181

    margin-right: 14px

.telephone 
  color: #0b0b0b
  white-space: nowrap

  margin-right: 23px

.envelope
  min-width: 41px
  margin-right: 18px

.burger-menu
  min-width: 41px





/* MAIN */





.main
  margin: 0 10px 0 10px

.section-slider
  margin: 115px 0 60px 0
  
.slider
  display: flex
  justify-content: flex-end
  position: relative

  width: 100%
  min-height: 425px

  padding: 0 0px 85px 0

  background-color: #dc9561
  border-top: 1px solid transparent

  .slider-button
    position: absolute
    content: ""

    width: 27px
    height: 41px

    outline: none
    border: none

  .slider-button-left

    top: 45%
    left: 20px

    background-image: url(../img/index_html/slider-left.png) 
    background-repeat: no-repeat 
    background-position: 0 0
    background-color: transparent


  .slider-button-right

    top: 45%
    right: 20px

    background-image: url(../img/index_html/slider-right.png) 
    background-repeat: no-repeat 
    background-position: 0 0
    background-color: transparent

  .slider-controls
    position: absolute  
    content: ""

    bottom: 15px
    left: 50%


  .slider-controls label
    display: inline-block
    vertical-align: top

    width: 3px
    height: 3px

    margin: 4px

    background-color: #111111;

    border-radius: 50%

  .slider-controls label:before
    position: absolute  
    content: ""
    vertical-align: top

    width: 13px
    height: 13px

    margin: -5px 0 0 -5px

    background-color: transparent;

    border: 2px solid #ffffff
    border-radius: 50%

  #btn-1:checked ~ .slider-controls label[for="btn-1"],
  #btn-2:checked ~ .slider-controls label[for="btn-1"],
  #btn-3:checked ~ .slider-controls label[for="btn-1"] 
      

  .slider__flex
    width: 300px
    height: auto
  
    margin: 130px 95px 0 0
  
  .slider__description
    display: block
    width: 300px

    margin: 0px 0px 50px 0px


  .slider__button
    display: block
    text-align: center
    word-wrap: break-word

    font-size: 15px
    line-height: 24px
    font-weight: normal
    color: #111111

    max-width: 100px
    min-height: 30px

    margin: 50px 0 10px 0px
    padding: 1px 1px 5px 1px

    background-color: #ffffff
    border-radius: 7px

.section__wrapper
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  flex-shrink: 0
  flex-grow: 0
  position: relative

  width: 100%;
  max-width: 1920px;

  margin: 0 auto

.project__article
  width: 22vw
  min-height: 22vw

  margin: 30px 0 0 0

.project__article:nth-child(4n)
  margin-right: 0 auto

.number-1
  background-color: #7accc8
.number-2
  background-color: #ffc601
.number-3
  background-color: #eac89a
.number-4
  background-color: #e6f3f9
.number-5
  background-color: #73756e
.number-6 
  background-color: #be142b
.number-7
  background-color: #111111
.number-8
  background-color: #dc9561
.number-9

.service__article
  text-align: center

  width: 32vw
  min-height: 20vw

  margin: 30px 0 0 0
  padding-top: 9vw

  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1)

.persons
  display: flex
  justify-content: space-between

  width: 100%

  margin: 35px 0 20px 0

.person
  width: 15vw
  height: 15vw

  border: 1px solid #e9e4e4
  border-radius: 50%
  
.video
  width: 100%
  height: 30vw

  margin: 20px 0

  outline: 1px solid #000000

.wrapper-reviews
  display: flex
  justify-content: space-between

  width: 100%
  height: auto

  margin: 35px 0 20px 0

.reviews-img
  min-width: 15vw
  height: 15vw

  margin-right: 40px

  border: 1px solid #e9e4e4
  border-radius: 50%

.rewiews__p
  display: flex
  justify-content: center
  align-items: center
  max-width: 80vw





/* FOOTER */





.footer
  display: flex
  justify-content: space-between
  align-items: center

  width: 100%
  min-height: 15vw

  background-color: #4c4c4c

.footer-wrapper__left
  display: flex
  justify-content: center
  align-items: center
  max-width: 15vw
  min-height: 10vw

  margin-left: 10px

  .license-text
    color: #ffffff

.footer-wrapper__center
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

  min-height: 10vw

  .footer-logo
    width: 250px
    height: 58px
  
.social-block
  display: flex
  justify-content: space-between
  align-items: center
  
  width: 100%

.footer-wrapper__right
  display: flex
  justify-content: center
  align-items: flex-end

  width: 15vw
  min-height: 10vw
  
  margin-right: 10px

.footer-telephone
  color: #ffffff

  margin: 0




/* Меню при нажатии */





.menu-popup
  display: flex
  display: none
  flex-direction: column
  justify-content: flex-start
  align-items: center
  position: fixed
  z-index: 2
  top: 0
  left: 0

  width: 100%
  height: 100%

  padding: 0 10px 0 10px

  background-color: rgba(76,76,76,1)

  animation-duration: 0.55s
  animation-fill-mode: both
  animation-name: fadeInDown

.menu-popup-visible
  display: flex

.menu-popup__header
  display: flex
  justify-content: space-between
  align-items: center

  width: 100%

  padding: 20px 0 20px 0
  margin: 0 10px 0 10px

  border-bottom: 2px solid #ffffff

.menu-popup__header-logo
  width: 195px
  height: 45px

.menu-popup-logo__img
  width: 195px
  height: 45px

.menu-popup__right-menu
  display: flex
  align-items: center

.menu-popup__lang
  white-space: nowrap

  min-width: 60px

  margin-right: 21px
  
.menu-popup__ru 
  color: #a7a7a7

  margin-right: 10px

.menu-popup__telephone
  color: #ffffff
  white-space: nowrap

  margin-right: 23px

.envelope-span
  display: flex
  justify-content: center
  align-items: center

  width: 41px
  height: 41px

  margin-right: 18px

  background-color: #a7a7a7

  border-radius: 50%

.envelope-span__img
  width: 24px
  height: 18px

.modal-close
  position: relative
  cursor: pointer


  width: 41px
  height: 41px

  background-color: #a7a7a7
  
  border: none
  border-radius: 50%

.modal-close::before,
.modal-close::after
  position: absolute
  content: ""
  top: 19px
  left: 9px
    
  width: 24px
  height: 4px

  background-color: #ffffff

  border-radius: 2px

.modal-close::before
  transform: rotate(45deg)

.modal-close::after
  transform: rotate(-45deg)
  
.wrapper__menu-list
  display: flex
  justify-content: center
  align-items: center
  
  width: 100%
  height: 100%
  
.menu-list
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  margin-top: -50px

.menu-list__item
  font-size: 26px
  line-height: 24px

  margin-top: 25px

  a
    color: #ffffff
  
.menu-list__items:nth-child(1)
  margin-top: 0





/* Наши контакты */





.contacts
  display: flex
  display: none
  flex-direction: column
  justify-content: flex-start
  align-items: center
  position: fixed
  z-index: 3
  top: calc(50% - 12.5vw)
  left: calc(50% - 25vw)

  width: 50vw
  height: 25vw

  padding: 0 10px 0 10px

  background-color: #4c4c4c

  box-shadow: 1px 1px 7px 1px rgba(195, 195, 195, 0.2)

.contacts-visible
  display: flex

.contacts__h2
  margin-top: 4vw

.wrapper-contacts
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

.contacts__h2,
.contacts__tel,
.contacts__mail,
.contacts__social
  font-size: 18px
  line-height: 24px
  color: #ffffff

.contacts__adress
  font-size: 14px
  line-height: 24px
  color: #ffffff

.contacts__tel,
.contacts__mail,
.contacts__social
  margin-top: 1vw
  
.contacts__social-block
  display: flex
  justify-content: space-between
  align-items: center
  
  min-width: 20vw

  margin-top: 1.5vw


.contacts-close
  position: absolute
  content: ""
  cursor: pointer

  top: 10px
  right: 10px

  width: 35px
  height: 35px

  background-color: #ffffff
  
  border: none
  border-radius: 50%

.contacts-close::before,
.contacts-close::after
  position: absolute
  content: ""
  top: 16px
  left: 7px
    
  width: 22px
  height: 4px

  background-color: #4c4c4c

  border-radius: 2px

.contacts-close::before
  transform: rotate(45deg)

.contacts-close::after
  transform: rotate(-45deg)
  




/* Форма обратной связи */






.feedback-form
  display: flex
  display: none
  flex-direction: column
  justify-content: flex-start
  align-items: center
  position: fixed
  z-index: 5
  top: calc(45% - 20vw)
  left: calc(50% - 25vw)

  min-width: 50vw
  height: 40vw

  margin-top: 3vw
  padding: 0 20px 10px 20px

  background-color: #4c4c4c

  box-shadow: 1px 1px 7px 1px rgba(195, 195, 195, 0.2)

  animation-duration: 0.55s
  animation-fill-mode: both
  animation-name: fadeInDown
  
.feedback-form-visible
  display: flex

.user-form
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  width: 100%

  .button-send
    margin-top: 3vw
  
.wrapper__label_and_input
  display: flex
  justify-content: space-between
  align-items: center

  width: 100%

  margin-top: 5vw

.wrapper-tel,
.wrapper-name,
.wrapper-email
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 17px
  line-height: 24px
  color: #ffffff
  
.user-tel,
.user-name,
.user-email
  text-align: center

  min-width: 12vw 
  height: 2vw
  
  margin-top: 10px

  border: none
  border-radius: 5px

.button-send
  font-size: 15px
  line-height: 24px
  text-align: center
  color: #ffffff

  min-width: 7vw
  
  padding: 1px 12px 3px 12px
  
  background-color: #929292
  
  border: none
  border-radius: 7px
  
.feedback-form__p
  font-size: 18px
  line-height: 24px
  color: #ffffff

  margin-top: 6vw

.feedback-form__social-block
  display: flex
  justify-content: space-between
  align-items: center
  
  min-width: 20vw

  margin-top: 1.5vw
  margin-bottom: 4vw

.white-line
  min-width: 100%
  min-height: 2px

  background-color: #ffffff

.feedback-form__contacts
  font-size: 18px
  line-height: 24px
  color: #ffffff
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

.feedback-form__contacts_p
  margin-top: 1.5vw
  
.feedback-form__contacts_tel
  margin-top: 0.5vw
  
.feedback-form__contacts_adress
  font-size: 14px
  line-height: 24px
  color: #ffffff

  margin-top: 0.5vw


.feedback-form__close
  position: absolute
  content: ""
  cursor: pointer

  top: 10px
  right: 10px

  width: 35px
  height: 35px

  background-color: #ffffff
  
  border: none
  border-radius: 50%

.feedback-form__close::before,
.feedback-form__close::after
  position: absolute
  content: ""
  top: 16px
  left: 7px
    
  width: 22px
  height: 4px

  background-color: #4c4c4c

  border-radius: 2px

.feedback-form__close::before
  transform: rotate(45deg)

.feedback-form__close::after
  transform: rotate(-45deg)
  



/* Стили для попапов */





.modal-error  /*класс ошибки анимации*/
  animation: shake 0.6s

@keyframes fadeInDown 
    0% 
        opacity: 0
        transform: translate3d(0px, -100%, 0px)
    100% 
        opacity: 1
        transform: none
    
@keyframes shake 
    /*анимация ошибки*/
    0%,
    100% 
        transform: translateX(0)
    
    10%,
    30%,
    50%,
    70%,
    90% 
        transform: translateX(-10px)
    
    20%,
    40%,
    60%,
    80% 
        transform: translateX(10px)
    